<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni.paperpAlfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>032960A2-34C1-4272-B9E0-65A6465AE456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36DC06AF-E15C-4ABC-BC31-DEF5C3D3638D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AAAEDC3-C0EE-47D4-83C7-2A5AB352295E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D94E41FF-2E5C-420B-919A-5A2990C3F4A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D9857A2-7E4B-4E14-9556-B38C14893DD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21B88AAB-784B-4782-B4D6-607BDB0F7C25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B12BCC5-45EE-4E9D-95FB-0B156B0704B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D033AF8-08E7-4097-B0BF-5BB509FAF1AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28606112-A338-475C-9D0A-17F14E5D6E40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33BF8A0E-B7AA-495E-B89F-1F8239DAECBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FDF7937-4C98-4A75-B7C6-AF4AF5FBB5D7</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open Folder in Paperpile</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4797204D-1BEC-49C9-8577-07F086902572</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DF20719-C29E-41E0-AEA3-E92AD68EA188</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DF20719-C29E-41E0-AEA3-E92AD68EA188</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>439299E4-26DE-4954-9EE4-6AB9A055C4DC</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open Label in Paperpile</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>837B6FCB-ACFA-46BE-AEC2-10135A81A784</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD1DC957-AD49-4CC1-A425-2D6FF0F6F2D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C15FD31B-73B9-4D65-9FC9-B88846234B1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B8F4A19F-1244-4D35-BFAF-7B30C48F9337</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C81A90A7-A0A8-4A02-8BC5-9315BC9BB108</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2E84778-9472-48A7-851A-87F07879DA5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21B88AAB-784B-4782-B4D6-607BDB0F7C25</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Show and copy to clipboard complete reference</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F60EE65-A185-4BBF-B450-70AF97DF20D0</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy First-Last, Journal, Year, PMID to clipboard</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09F993A7-F21C-4541-8C43-6641A0B6E1D8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy citation key to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1AAAEDC3-C0EE-47D4-83C7-2A5AB352295E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show (and copy to clipboard) abstract</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD1DC957-AD49-4CC1-A425-2D6FF0F6F2D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>30EEB713-8B4D-41AF-A310-C8793A498639</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>Open PDF in Google Drive</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D942F3A6-D97B-4FA5-80ED-18B88282CF61</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>Open record in Paperpile</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E31F5435-FCA6-40FB-AC97-768A01A29B7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33BF8A0E-B7AA-495E-B89F-1F8239DAECBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@giovannicoppoIa</string>
	<key>description</key>
	<string>Search your Paperpile library with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>paperpAlfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:FullReference}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3B12BCC5-45EE-4E9D-95FB-0B156B0704B3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4797204D-1BEC-49C9-8577-07F086902572</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
/usr/bin/python3 labels.py "$1"


</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6DF20719-C29E-41E0-AEA3-E92AD68EA188</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://paperpile.com/app/label/$myLabelID"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>439299E4-26DE-4954-9EE4-6AB9A055C4DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>21B88AAB-784B-4782-B4D6-607BDB0F7C25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:FullReference}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8D033AF8-08E7-4097-B0BF-5BB509FAF1AB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E31F5435-FCA6-40FB-AC97-768A01A29B7B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
/usr/bin/python3 folders.py "$1"

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33BF8A0E-B7AA-495E-B89F-1F8239DAECBE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://paperpile.com/app/folder/$myFolderID"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FDF7937-4C98-4A75-B7C6-AF4AF5FBB5D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:myAbstract}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D94E41FF-2E5C-420B-919A-5A2990C3F4A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:shortPMID}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0F60EE65-A185-4BBF-B450-70AF97DF20D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:KEY_PREFIX}{var:myCitekey}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>09F993A7-F21C-4541-8C43-6641A0B6E1D8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:myAbstract}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>1D9857A2-7E4B-4E14-9556-B38C14893DD9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1AAAEDC3-C0EE-47D4-83C7-2A5AB352295E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppty</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
/usr/bin/python3 myTypes.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>837B6FCB-ACFA-46BE-AEC2-10135A81A784</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string>#000000FF</string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>Menlo Regular</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>- Simple search: `ppp` -- query across all fields

- Filter by label first: `ppl`  (or optional hotkey)
	- ⌃⏎ open label in Paperpile

- Filter by folder first: `ppf` (or optional hotkey)
	- ⌃⏎ open folder in Paperpile

- Filter by item type first: `ppty`

- Advanced search
        - title:
        - abstract:
        - citekey:
        - journal:
        - folder:
        - label:
        - pmid:
        - year:
        - first: [first author]
        - last: [last author]
        - type: [publication type]

- Output
1. ⏎ open PDF with system viewer 
2. ⇧⏎ abstract (show and copy to clipboard)
3. ⌃⏎ complete reference (show and copy to clipboard)
4. ⌥⏎ [First-last author, journal, year, PMID] to clipboard
5. ⌘⏎ citation key to clipboard
6. ⌘⇧⏎ open PDF in Google drive
7. ⌘⌥⏎ open record in Paperpile</string>
				<key>textcolor</key>
				<string>#00F900FF</string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>C15FD31B-73B9-4D65-9FC9-B88846234B1C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>28606112-A338-475C-9D0A-17F14E5D6E40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>❗Please wait while I rebuild the database❗</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
/usr/bin/python3 papers.py "$1"




</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Welcome to paperpAlfred 👋</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ShowHelpWindow</string>
						<key>outputlabel</key>
						<string>ShowHelp</string>
						<key>uid</key>
						<string>B8F4A19F-1244-4D35-BFAF-7B30C48F9337</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DD1DC957-AD49-4CC1-A425-2D6FF0F6F2D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>find "$PAPPATH" -name "$myFileName" |  head -n 1 | tr \\n \\0 | xargs -0 open

# older version opening multiple copies if &gt;1 found
# find /Users/giovanni/Google\ Drive/Paperpile/ -name "{query}" -exec open {} +</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C81A90A7-A0A8-4A02-8BC5-9315BC9BB108</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://docs.google.com/file/d/$gdrive_id"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30EEB713-8B4D-41AF-A310-C8793A498639</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>032960A2-34C1-4272-B9E0-65A6465AE456</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>❗Please wait while I rebuild the database❗</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
/usr/bin/python3 papers_bibTeX.py "$1"





</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Welcome to paperpAlfred  (BibTeX)👋</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>36DC06AF-E15C-4ABC-BC31-DEF5C3D3638D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://paperpile.com/app/p/$paperpileID"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D942F3A6-D97B-4FA5-80ED-18B88282CF61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search your Paperpile library with Alfred
https://github.com/giovannicoppola/paperpAlfred

Environment Variables
- MAXRESULTS: max number of results returned (default: 99)
- PAPLIBRARY: path to Paperpile library file (this is needed)
- PAPPATH: path to Paperpile folder in Google Drive (optional, to open downloaded PDFs in system viewer)
- KEY_PREFIX: prefix for citekeys (default: '@')


Basic usage (`ppp` ↩️)

- Simple search: `ppp` -- query across all fields

- Filter by label first: `ppl`  (or optional hotkey)
	- ⌃⏎ open label in Paperpile

- Filter by folder first: `ppf` (or optional hotkey)
	- ⌃⏎ open folder in Paperpile

- Filter by item type first: `ppty`

- Advanced search
        - title:
        - abstract:
        - citekey:
        - journal:
        - folder:
        - label:
        - pmid:
        - year:
        - first: [first author]
        - last: [last author]
        - type: [publication type]

- Output
1. ⏎ open PDF with system viewer 
2. ⇧⏎ abstract (show and copy to clipboard)
3. ⌃⏎ complete reference (show and copy to clipboard)
4. ⌥⏎ [First-last author, journal, year, PMID] to clipboard
5. ⌘⏎ citation key to clipboard
6. ⌘⇧⏎ open PDF in Google drive
7. ⌘⌥⏎ open record in Paperpile</string>
	<key>uidata</key>
	<dict>
		<key>032960A2-34C1-4272-B9E0-65A6465AE456</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Set this Hotkey to launch paperAlfred</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>09F993A7-F21C-4541-8C43-6641A0B6E1D8</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>0F60EE65-A185-4BBF-B450-70AF97DF20D0</key>
		<dict>
			<key>note</key>
			<string>Copy Fist, Last, Journal, Year, and PMID to clipboard</string>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>1AAAEDC3-C0EE-47D4-83C7-2A5AB352295E</key>
		<dict>
			<key>xpos</key>
			<real>1290</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>1D9857A2-7E4B-4E14-9556-B38C14893DD9</key>
		<dict>
			<key>xpos</key>
			<real>1480</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>21B88AAB-784B-4782-B4D6-607BDB0F7C25</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>28606112-A338-475C-9D0A-17F14E5D6E40</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Set this Hotkey to launch paperAlfred</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>30EEB713-8B4D-41AF-A310-C8793A498639</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Open PDF in Google Drive</string>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>33BF8A0E-B7AA-495E-B89F-1F8239DAECBE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Search by folder</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>36DC06AF-E15C-4ABC-BC31-DEF5C3D3638D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Search your BibTeX Paperpile library</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>3B12BCC5-45EE-4E9D-95FB-0B156B0704B3</key>
		<dict>
			<key>note</key>
			<string>Show and copy to clipboard complete reference</string>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>3FDF7937-4C98-4A75-B7C6-AF4AF5FBB5D7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Open Folder in Paperpile</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>439299E4-26DE-4954-9EE4-6AB9A055C4DC</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Open Label in Paperpile</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>4797204D-1BEC-49C9-8577-07F086902572</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Set this Hotkey to filter by label first</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>6DF20719-C29E-41E0-AEA3-E92AD68EA188</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Search by label</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>837B6FCB-ACFA-46BE-AEC2-10135A81A784</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Search by type</string>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>8D033AF8-08E7-4097-B0BF-5BB509FAF1AB</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>C15FD31B-73B9-4D65-9FC9-B88846234B1C</key>
		<dict>
			<key>xpos</key>
			<real>1225</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>C81A90A7-A0A8-4A02-8BC5-9315BC9BB108</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Open PDF with system viewer</string>
			<key>xpos</key>
			<real>1225</real>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>D942F3A6-D97B-4FA5-80ED-18B88282CF61</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Open Paperpile Record</string>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>D94E41FF-2E5C-420B-919A-5A2990C3F4A6</key>
		<dict>
			<key>note</key>
			<string>Show (and copy to clipboard) abstract</string>
			<key>xpos</key>
			<real>1485</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>DD1DC957-AD49-4CC1-A425-2D6FF0F6F2D5</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>E2E84778-9472-48A7-851A-87F07879DA5C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Search your Paperpile library</string>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>E31F5435-FCA6-40FB-AC97-768A01A29B7B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Set this Hotkey to filter by folder first</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>99</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Maximum number of records returned</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>MAXRESULTS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>@</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Prefix for citekey</string>
			<key>label</key>
			<string>Key Prefix</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEY_PREFIX</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Location of the JSON Paperpile Library file</string>
			<key>label</key>
			<string>Paperpile Library</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>PAPLIBRARY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Path to Google Drive Paperpile folder</string>
			<key>label</key>
			<string>Paperpile path</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>PAPPATH</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.2</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/paperpAlfred</string>
</dict>
</plist>
