<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni.paperpAlfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0DA8A0BF-9CD5-4F15-A3DE-AAD3B2231580</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C421824-55B9-4ABD-968C-C85AA5EA2F09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>109443E8-25B2-4427-A280-AB20313FA652</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D942F3A6-D97B-4FA5-80ED-18B88282CF61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21829E5F-3AAF-452F-B3D0-CE8EE91A4BE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28606112-A338-475C-9D0A-17F14E5D6E40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>288DCBA0-2E29-45AB-BD36-50F6981DC51D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D94E41FF-2E5C-420B-919A-5A2990C3F4A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D9857A2-7E4B-4E14-9556-B38C14893DD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B3F7D62-3B47-4EE4-AA1B-E5650E9BD20F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>439299E4-26DE-4954-9EE4-6AB9A055C4DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33BF8A0E-B7AA-495E-B89F-1F8239DAECBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D47877D3-8B3E-4067-A273-255D43C9AB73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EEDCCC0E-2CD6-4D64-AFDF-BE3B77B7DBDC</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open Folder in Paperpile</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C09C031-D39A-4246-A5D4-E091D7CCD3BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E59A53A-7B64-4567-A97B-05FE5C0FDFCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B12BCC5-45EE-4E9D-95FB-0B156B0704B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D033AF8-08E7-4097-B0BF-5BB509FAF1AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4797204D-1BEC-49C9-8577-07F086902572</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DF20719-C29E-41E0-AEA3-E92AD68EA188</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>527EAB4F-DB09-48BB-AEE8-09DBC69C9C8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09F993A7-F21C-4541-8C43-6641A0B6E1D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AB0EA13-0C61-41FA-8118-F7E225631538</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21829E5F-3AAF-452F-B3D0-CE8EE91A4BE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C421824-55B9-4ABD-968C-C85AA5EA2F09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30EEB713-8B4D-41AF-A310-C8793A498639</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62EF9831-4AF3-4BA8-A65E-BC74885BC00A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D69C838-D7C0-409A-BA86-42C5BB125745</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>672BB1F3-8FAA-420C-B0A5-812A2F2DC418</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F60EE65-A185-4BBF-B450-70AF97DF20D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DF20719-C29E-41E0-AEA3-E92AD68EA188</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D7E3CE3-EBD1-436C-A62A-F2A114BACA3A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open Label in Paperpile</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5AB0EA13-0C61-41FA-8118-F7E225631538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>837B6FCB-ACFA-46BE-AEC2-10135A81A784</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D37D9EC2-73D1-48FF-AD08-3A2A683C5A53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D69C838-D7C0-409A-BA86-42C5BB125745</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C81A90A7-A0A8-4A02-8BC5-9315BC9BB108</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D7E3CE3-EBD1-436C-A62A-F2A114BACA3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B3F7D62-3B47-4EE4-AA1B-E5650E9BD20F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCDB47B4-BE4E-4F28-9755-271134E925B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>109443E8-25B2-4427-A280-AB20313FA652</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D37D9EC2-73D1-48FF-AD08-3A2A683C5A53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D47877D3-8B3E-4067-A273-255D43C9AB73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C09C031-D39A-4246-A5D4-E091D7CCD3BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD1DC957-AD49-4CC1-A425-2D6FF0F6F2D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62EF9831-4AF3-4BA8-A65E-BC74885BC00A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C15FD31B-73B9-4D65-9FC9-B88846234B1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B8F4A19F-1244-4D35-BFAF-7B30C48F9337</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2E84778-9472-48A7-851A-87F07879DA5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E59A53A-7B64-4567-A97B-05FE5C0FDFCA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Show and copy to clipboard complete reference</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>672BB1F3-8FAA-420C-B0A5-812A2F2DC418</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy Fist, Last, Journal, Year, and PMID to clipboard</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>527EAB4F-DB09-48BB-AEE8-09DBC69C9C8C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy citation key to clipboard</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD1DC957-AD49-4CC1-A425-2D6FF0F6F2D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>288DCBA0-2E29-45AB-BD36-50F6981DC51D</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show (and copy to clipboard) abstract</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DA8A0BF-9CD5-4F15-A3DE-AAD3B2231580</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>Open PDF in Google Drive</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BCDB47B4-BE4E-4F28-9755-271134E925B5</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>Open record in Paperpile</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E31F5435-FCA6-40FB-AC97-768A01A29B7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33BF8A0E-B7AA-495E-B89F-1F8239DAECBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEDCCC0E-2CD6-4D64-AFDF-BE3B77B7DBDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0D9E9F3-5F46-40FD-8E61-38FE37E3B431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0D9E9F3-5F46-40FD-8E61-38FE37E3B431</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FDF7937-4C98-4A75-B7C6-AF4AF5FBB5D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@giovannicoppoIa</string>
	<key>description</key>
	<string>Search your Paperpile library with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>paperpAlfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://paperpile.com/app/label/{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>439299E4-26DE-4954-9EE4-6AB9A055C4DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2B3F7D62-3B47-4EE4-AA1B-E5650E9BD20F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>8D7E3CE3-EBD1-436C-A62A-F2A114BACA3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split2}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3B12BCC5-45EE-4E9D-95FB-0B156B0704B3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export query="{query}"
./fuzzy.py /usr/bin/python labels.py


</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6DF20719-C29E-41E0-AEA3-E92AD68EA188</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4797204D-1BEC-49C9-8577-07F086902572</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>5AB0EA13-0C61-41FA-8118-F7E225631538</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>3E59A53A-7B64-4567-A97B-05FE5C0FDFCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>Mylabel</key>
					<string>{var:split2}</string>
					<key>Source</key>
					<string>label</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>21829E5F-3AAF-452F-B3D0-CE8EE91A4BE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:split2}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8D033AF8-08E7-4097-B0BF-5BB509FAF1AB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching library…</string>
				<key>script</key>
				<string>#printf "%s" "Mar  7 05:42:14 2021" &gt;timestamp.txt


python papers.py "$1" "${Source}" "${Mylabel}" "${Myfolder}" "${Mytype}"




</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2E84778-9472-48A7-851A-87F07879DA5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split4}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D94E41FF-2E5C-420B-919A-5A2990C3F4A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>28606112-A338-475C-9D0A-17F14E5D6E40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>D47877D3-8B3E-4067-A273-255D43C9AB73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>Myfolder</key>
					<string>{var:split2}</string>
					<key>Source</key>
					<string>folder</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3C09C031-D39A-4246-A5D4-E091D7CCD3BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>672BB1F3-8FAA-420C-B0A5-812A2F2DC418</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>527EAB4F-DB09-48BB-AEE8-09DBC69C9C8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:split4}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>1D9857A2-7E4B-4E14-9556-B38C14893DD9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ShowHelpWindow</string>
						<key>outputlabel</key>
						<string>ShowHelp</string>
						<key>uid</key>
						<string>B8F4A19F-1244-4D35-BFAF-7B30C48F9337</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DD1DC957-AD49-4CC1-A425-2D6FF0F6F2D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export query="{query}"
./fuzzy.py /usr/bin/python folders.py

</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33BF8A0E-B7AA-495E-B89F-1F8239DAECBE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>288DCBA0-2E29-45AB-BD36-50F6981DC51D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E31F5435-FCA6-40FB-AC97-768A01A29B7B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split5}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>09F993A7-F21C-4541-8C43-6641A0B6E1D8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split3}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0F60EE65-A185-4BBF-B450-70AF97DF20D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>62EF9831-4AF3-4BA8-A65E-BC74885BC00A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>EEDCCC0E-2CD6-4D64-AFDF-BE3B77B7DBDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string>#000000FF</string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>Menlo Regular</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>- Simple search: `ppp` -- query across all fields

- Filter by label first: `ppl`  (or optional hotkey)
	- ⌃⏎ open label in Paperpile

- Filter by folder first: `ppf` (or optional hotkey)
	- ⌃⏎ open folder in Paperpile

- Filter by item type first: `ppty`

- Advanced search
        - title:
        - abstract:
        - citekey:
        - journal:
        - folder:
        - label:
        - pmid:
        - year:
        - first: [first author]
        - last: [last author]
        - type: [publication type]

- Output
1. ⏎ open PDF with system viewer 
2. ⇧⏎ abstract (show and copy to clipboard)
3. ⌃⏎ complete reference (show and copy to clipboard)
4. ⌥⏎ [First-last author, journal, year, PMID] to clipboard
5. ⌘⏎ citation key to clipboard
6. ⌘⇧⏎ open PDF in Google drive
7. ⌘⌥⏎ open record in Paperpile</string>
				<key>textcolor</key>
				<string>#00F900FF</string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>C15FD31B-73B9-4D65-9FC9-B88846234B1C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split1}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8D69C838-D7C0-409A-BA86-42C5BB125745</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>find "$PAPPATH" -name "{query}" |  head -n 1 | tr \\n \\0 | xargs -0 open

# older version opening multiple copies if &gt;1 found
# find /Users/giovanni/Google\ Drive/Paperpile/ -name "{query}" -exec open {} +</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C81A90A7-A0A8-4A02-8BC5-9315BC9BB108</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F0D9E9F3-5F46-40FD-8E61-38FE37E3B431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>0DA8A0BF-9CD5-4F15-A3DE-AAD3B2231580</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://paperpile.com/app/folder/{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FDF7937-4C98-4A75-B7C6-AF4AF5FBB5D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;;</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>BCDB47B4-BE4E-4F28-9755-271134E925B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split7}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>109443E8-25B2-4427-A280-AB20313FA652</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://paperpile.com/app/p/{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D942F3A6-D97B-4FA5-80ED-18B88282CF61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split6}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C421824-55B9-4ABD-968C-C85AA5EA2F09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://docs.google.com/file/d/{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30EEB713-8B4D-41AF-A310-C8793A498639</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>Mytype</key>
					<string>{query}</string>
					<key>Source</key>
					<string>type</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D37D9EC2-73D1-48FF-AD08-3A2A683C5A53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppty</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python types.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>837B6FCB-ACFA-46BE-AEC2-10135A81A784</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search your Paperpile library with Alfred
https://github.com/giovannicoppola/paperpAlfred

Environment Variables
- MAXRESULTS: max number of results returned (default: 99)
- PAPLIBRARY: path to Paperpile library file (this is needed)
- PAPPATH: path to Paperpile folder in Google Drive (optional, to open downloaded PDFs in system viewer)


Basic usage (`ppp` ↩️)

- Simple search: `ppp` -- query across all fields

- Filter by label first: `ppl`  (or optional hotkey)
	- ⌃⏎ open label in Paperpile

- Filter by folder first: `ppf` (or optional hotkey)
	- ⌃⏎ open folder in Paperpile

- Filter by item type first: `ppty`

- Advanced search
        - title:
        - abstract:
        - citekey:
        - journal:
        - folder:
        - label:
        - pmid:
        - year:
        - first: [first author]
        - last: [last author]
        - type: [publication type]

- Output
1. ⏎ open PDF with system viewer 
2. ⇧⏎ abstract (show and copy to clipboard)
3. ⌃⏎ complete reference (show and copy to clipboard)
4. ⌥⏎ [First-last author, journal, year, PMID] to clipboard
5. ⌘⏎ citation key to clipboard
6. ⌘⇧⏎ open PDF in Google drive
7. ⌘⌥⏎ open record in Paperpile</string>
	<key>uidata</key>
	<dict>
		<key>09F993A7-F21C-4541-8C43-6641A0B6E1D8</key>
		<dict>
			<key>xpos</key>
			<integer>1405</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>0DA8A0BF-9CD5-4F15-A3DE-AAD3B2231580</key>
		<dict>
			<key>xpos</key>
			<integer>1085</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>0F60EE65-A185-4BBF-B450-70AF97DF20D0</key>
		<dict>
			<key>note</key>
			<string>Copy Fist, Last, Journal, Year, and PMID to clipboard</string>
			<key>xpos</key>
			<integer>1665</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>109443E8-25B2-4427-A280-AB20313FA652</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>1D9857A2-7E4B-4E14-9556-B38C14893DD9</key>
		<dict>
			<key>xpos</key>
			<integer>2140</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>21829E5F-3AAF-452F-B3D0-CE8EE91A4BE6</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>28606112-A338-475C-9D0A-17F14E5D6E40</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Set this Hotkey to launch paperAlfred</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>288DCBA0-2E29-45AB-BD36-50F6981DC51D</key>
		<dict>
			<key>xpos</key>
			<integer>1955</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>2B3F7D62-3B47-4EE4-AA1B-E5650E9BD20F</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>30EEB713-8B4D-41AF-A310-C8793A498639</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Open PDF in Google Drive</string>
			<key>xpos</key>
			<integer>1610</integer>
			<key>ypos</key>
			<integer>925</integer>
		</dict>
		<key>33BF8A0E-B7AA-495E-B89F-1F8239DAECBE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Search by folder</string>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>3B12BCC5-45EE-4E9D-95FB-0B156B0704B3</key>
		<dict>
			<key>note</key>
			<string>Show and copy to clipboard complete reference</string>
			<key>xpos</key>
			<integer>1700</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>3C09C031-D39A-4246-A5D4-E091D7CCD3BC</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>3E59A53A-7B64-4567-A97B-05FE5C0FDFCA</key>
		<dict>
			<key>xpos</key>
			<integer>1375</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>3FDF7937-4C98-4A75-B7C6-AF4AF5FBB5D7</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Open Folder in Paperpile</string>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>439299E4-26DE-4954-9EE4-6AB9A055C4DC</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Open Label in Paperpile</string>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>4797204D-1BEC-49C9-8577-07F086902572</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Set this Hotkey to filter by label first</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>527EAB4F-DB09-48BB-AEE8-09DBC69C9C8C</key>
		<dict>
			<key>xpos</key>
			<integer>1315</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>5AB0EA13-0C61-41FA-8118-F7E225631538</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>5C421824-55B9-4ABD-968C-C85AA5EA2F09</key>
		<dict>
			<key>xpos</key>
			<integer>1230</integer>
			<key>ypos</key>
			<integer>905</integer>
		</dict>
		<key>62EF9831-4AF3-4BA8-A65E-BC74885BC00A</key>
		<dict>
			<key>xpos</key>
			<integer>1405</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>672BB1F3-8FAA-420C-B0A5-812A2F2DC418</key>
		<dict>
			<key>xpos</key>
			<integer>1430</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>6DF20719-C29E-41E0-AEA3-E92AD68EA188</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Search by label</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>837B6FCB-ACFA-46BE-AEC2-10135A81A784</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Search by type</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>1000</integer>
		</dict>
		<key>8D033AF8-08E7-4097-B0BF-5BB509FAF1AB</key>
		<dict>
			<key>xpos</key>
			<integer>1710</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>8D69C838-D7C0-409A-BA86-42C5BB125745</key>
		<dict>
			<key>xpos</key>
			<integer>1555</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>8D7E3CE3-EBD1-436C-A62A-F2A114BACA3A</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>BCDB47B4-BE4E-4F28-9755-271134E925B5</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>C15FD31B-73B9-4D65-9FC9-B88846234B1C</key>
		<dict>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>C81A90A7-A0A8-4A02-8BC5-9315BC9BB108</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Open PDF with system viewer</string>
			<key>xpos</key>
			<integer>1730</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>D37D9EC2-73D1-48FF-AD08-3A2A683C5A53</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>D47877D3-8B3E-4067-A273-255D43C9AB73</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>D942F3A6-D97B-4FA5-80ED-18B88282CF61</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Open Paperpile Record</string>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>D94E41FF-2E5C-420B-919A-5A2990C3F4A6</key>
		<dict>
			<key>note</key>
			<string>Show (and copy to clipboard) abstract</string>
			<key>xpos</key>
			<integer>2130</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>DD1DC957-AD49-4CC1-A425-2D6FF0F6F2D5</key>
		<dict>
			<key>xpos</key>
			<integer>1085</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>E2E84778-9472-48A7-851A-87F07879DA5C</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Search your Paperpile library</string>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>E31F5435-FCA6-40FB-AC97-768A01A29B7B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Set this Hotkey to filter by folder first</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>EEDCCC0E-2CD6-4D64-AFDF-BE3B77B7DBDC</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>F0D9E9F3-5F46-40FD-8E61-38FE37E3B431</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>MAXRESULTS</key>
		<string>99</string>
		<key>PAPLIBRARY</key>
		<string>/Users/giovanni/Google Drive/GD_REGN/coding/PaperpAlfred/paperpileExports/Paperpile.txt</string>
		<key>PAPPATH</key>
		<string>/Users/giovanni/Google Drive/Paperpile</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PAPPATH</string>
		<string>PAPLIBRARY</string>
	</array>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/paperpAlfred</string>
</dict>
</plist>
