<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PAPLIBRARY</key>
	<string>~/Library/CloudStorage/GoogleDrive-giovannicoppola@gmail.com/My Drive/GD_REGN/coding/PaperpAlfred/paperpileExports/Paperpile.txt</string>
	<key>PAPLIBRARY_BIB</key>
	<string>~/Library/CloudStorage/GoogleDrive-giovannicoppola@gmail.com/My Drive/Tsu_ASO-RNAi.bib</string>
	<key>PAPPATH</key>
	<string>~/Library/CloudStorage/GoogleDrive-giovannicoppola@gmail.com/My Drive/Paperpile</string>
</dict>
</plist>
